.title{
    text-align: center;
    font-size: 24px;
    margin-top: 20px;

}

.images {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.doddle {
    display: flex;
    position: absolute;
    padding: 10px;
    border: 1px solid var(--teal);
    background-color: white;
    border-radius: 50px;
    z-index: 1;
    bottom: -22px;
}

.doddle img {
    width: 40px;
    height: 40px;
}

.image img {
    width: 160px;
    height: 120px;
}

.image_text {
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
    text-align: center;
    font-size: 16px;
}
.splide__pagination__page,.splide__arrow  {
    background: teal !important;
    /* margin-top: 20px !important; */


}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .splide__slide{
        width: calc(2%) !important;
        /* max-width: 1080px; */
    }
    
}
@media screen and (min-width: 1024px){
    .splide__slide{
        /* width: calc(12%) !important; */
        /* max-width: 1024px; */
        width: 100%;
}
    .gallery-container{
        /* padding-inline: 330px; */
        width: 100%;
        margin: 0 auto;
    }
    .gal{
        max-width: 1180px;
        margin: 0 auto;
    }
    .splide__pagination{
        position: relative !important;
        margin-top: 20px !important;
        /* color: aqua !important; */
    }

    
}